catboost==1.2.10
fastapi==0.135.1
Flask==3.1.3
flask_cors==6.0.2
imutils==0.5.4
joblib==1.5.3
kaggle==2.0.0
keras==3.13.2
langchain==1.2.12
librosa==0.11.0
lightgbm==4.6.0
matplotlib==3.10.8
numpy==2.4.3
opencv_python==4.13.0.92
pandas==3.0.1
Pillow==12.1.1
pydantic==2.12.5
python_speech_features==0.6
reportlab==4.4.10
scikit_learn==1.6.1
scipy==1.17.1
seaborn==0.13.2
skimpy==0.0.20
soundfile==0.13.1
starlette==0.52.1
tensorflow==2.21.0
uvicorn==0.42.0
xgboost==3.2.0
